@page "/acercade"
<h1>Acerca de</h1>
<!-- Datos de Gabriel -->


<div style="text-align: center;">
    <br>
    <br>
    <img src="imagen/fp.jpg" alt="Mi imagen" style="width: 200px; height: 200px;">
    <br>
    <br>
    <h3>Nombre:</h3>
    <a>Gabriel Perez</a>

</div>




