@page "/acercade"
<h1>Acerca de</h1>
<!-- Datos de Gabriel -->


<div style="text-align: center;">
    <br>
    <br>
    <img src="imagen/fp.jpg" alt="Mi imagen" style="width: 200px; height: 200px;">
    <br>
    <br>
    <h3>Nombre:</h3>
    <a>Gabriel Adolfo Perez Regalado</a>
    <br>
    <br>
    <h3>Correo:</h3>
    <a>perezregaladgabriel@gmail.com</a>
    <br>
    <br>
    <h3>Telegram:</h3>
    <a>https://t.me/theboxpe</a>
</div>




