@page "/"

<PageTitle>Index</PageTitle>

<h1>Pagina Principal</h1>

<br>
<br>

<p>Este es mi pagina web la cual tiene como requisitos tener: Calculadora, arreglo, arreglo invertido, 
    Busqueda Secuencial, Ordenamiento burbuja, y un Acerca de para mostrar mis datos</p>
